.navbar {
    background-color: #C42844;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbarul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #C42844;
  }
  
  .navbarbutton {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #C42844;
    align-content: left;
    text-align: center ;
    width: 150px;
    height: 20px;
    margin: 5px;
    display: inline;
  }
  
  .tcnavbarbutton {
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: larger;
    width: 200px;
    font-weight: bold;
  }

  .navright {
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px;
    color: #fff; /* Text color for visibility */
  }