{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MakeShift</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/loginPage.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div class="App">
            <div class="auth-form-container">
                <h2>Login</h2>
                <form method="post" action="/login/" class="login-form">
                    <label for="username">Username:</label>
                        <input class="eminput" type="text" id="username" name="username" required><br>
                    <label for="password">Password:</label>
                        <input class="passinput" type="password" id="password" name="password" required><br>
                    <div class="forgotandlogin">
                        <button class="forgot" type="button"><a href="#" style="color: black;">Forgot Password?</a></button>
                        <button class="loginbutton" type="submit" value="Post">Login</button>
                    </div>
                    <p>Don't have an account? <a href="/register">Create Account</a></p>
                </form>
            </div>
        </div>
    </body>
</html>