<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MakeShift</title>
        <link rel="stylesheet" type="text/css" href="static/loginPage.css">
    </head>
    <body>
        <div class="auth-form-container">
            <form class="login-form">
                <label for="username">Username:</label><br>
                    <input class="eminput" type="text" id="username" name="username" required><br><br>
                <label for="password">Password:</label><br>
                    <input class="passinput" type="password" id="password" name="password" required><br><br>
                <div class="forgotandlogin">
                    <button class="forgot" type=button href="#">Forgot Password?</a>
                    <button class="loginbutton" type="submit">Login</button>
                </div>
                <p>Don't have an account? <a href="#">Create Account</a></p>
            </form>
        </div>
    </body>
</html>