<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MakeShift</title>
        <link rel="stylesheet" type="text/css" href="static/static.css">
    </head>
    <body>
        <div class="App">
            <h1 class="title">MakeShift</h1>
            <img class="heart-icon" src="static/heart.png" alt="My Image">
            <script src="static/static.js"></script>
        </div>
    </body>
</html>