.App {
    text-align: left;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}

.h2 {
    text-align: center;
}

.auth-form-container, .login-form {
    display: flex;
    flex-direction: column;
    color:black;
    background-color: #b72525;
}

@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 5rem;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
        margin: 0.5rem;
    }
}

label {
text-align: left;
padding: 0.25rem 0;
}

.eminput, .passinput {
    background-color: transparent;
    border: 1px solid rgb(1, 117, 137);
}

.forgot {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    width: 160px;
    display: inline;
    margin: 0 auto;
}

.loginbutton {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
    text-decoration: underline;
    font-weight: bold;
    width: 160px;
    display: inline;
    margin: 5px;
}

.p {
    text-align: center;
}